.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 35px;
  justify-content: center;
  margin-top: 30px;
}

.stretched-card {
  width: 100%;
  background: var(--primary-dark);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  transition: 0.25s ease;
}

.stretched-img img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    background-color: #fff;
    padding: 0 !important;
    margin: 0 !important;
    display: block;
}

.stretched-content {
    padding: 20px;
    margin: 0;
    border-top: none !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.stretched-category {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--accent);
  margin-bottom: 8px;
}

.stretched-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--lightgreen);
  margin-bottom: 12px;
}

.stretched-desc {
  font-size: 0.95rem;
  color: #4b5563;
  margin-bottom: 20px;
}

.stretched-btn {
  background: none;
  border: none;
  color: var(--mint);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  margin-top: auto; 
}

.stretched-btn:hover{
  color: var(--accent);
}

.stretched-short-desc{
  color: var(--accent);
  min-height: 35px;
  font-size: 0.95rem;
}