.contact-container {
  width: 100%;
  margin: auto;
  padding: 50px 20px;
  background-color: var(--primary);
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  color: var(--accent);
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.alert {
  padding: 15px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.alert-warning {
  background: #fff3cd;
  color: #856404;
}

.alert-success {
  background: #d4edda;
  color: #155724;
}

.alert-error {
  background: #f8d7da;
  color: #721c24;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--accent);
}

.input-group input,
.input-group textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background: #f0f0f0;
}

.submit-btn {
  width: 100%;
  background: var(--mint);
  border: none;
  color: var(--primary-dark);
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 700;
  font-size: 18px;
}

.submit-btn:hover {
  background: var(--primary-dark);
  color: var(--accent);
}

.offline-btn {
  width: 100%;
  background: var();
  color: white;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.link-btn {
  margin-top: 10px;
  color: #1d8a2b;
  text-decoration: underline;
  cursor: pointer;
}

.info-note {
  margin-top: 20px;
  font-size: 14px;
  color: var(--mint);
}

.info-block {
  display: flex;
  gap: 9px;
  margin-bottom: 20px;
}

.info-block h4{
  color: var(--accent);
  font-weight: 700;
  font-size: 18px;
}

.info-block p{
  color: var(--mint);
  font-weight: 700;
  font-size: 18px;
  margin-top: 9px;
}

.icon {
  color: var(--accent);
  padding-top: 20px;
}

.hours-box {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 50px;
}

.hours-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.titles1{
  color: var(--accent);
  font-weight: 700;
  font-size: 18px;
}

.hours-box span{
  color: var(--mint);
  font-size: 18px;
  font-weight: 700;
}


/* Responsive */
@media (max-width: 900px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}
  