.product-detail-page {
  max-width: 1150px;
  margin: auto;
  padding: 40px 20px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-header h1 {
  color: #0b3d2e;
  font-size: 2rem;
}

.back-link {
  color: #0b8457;
  font-weight: 600;
  text-decoration: none;
}

/* Main layout */
.detail-hero {
  display: grid;
  grid-template-columns: 380px 1fr;
  gap: 35px;
  margin-top: 35px;
}

.detail-media {
  background: #f3f8f5;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
}

.detail-media img {
  width: 100%;
  height: 320px;         
  object-fit: contain; 
  object-position: center;
  border-radius: 12px;
  background: white; 
  padding: 10px;
}


.detail-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail-badge {
  background: #e6f6ef;
  color: #0b8457;
  padding: 6px 14px;
  border-radius: 100px;
  font-weight: 600;
  width: fit-content;
}

.detail-short {
  font-size: 1.1rem;
  font-weight: 600;
  color: #0b3d2e;
}

.detail-full {
  color: #555;
  line-height: 1.5;
}

.detail-list li {
  margin-bottom: 6px;
}

/* Specifications Box */
.spec-grid {
  border: 1px solid #e1ebe7;
  border-radius: 14px;
  overflow: hidden;
}

.spec-row {
  display: grid;
  grid-template-columns: 160px 1fr;
  border-bottom: 1px solid #e7eeeb;
}

.spec-row:last-child {
  border-bottom: none;
}

.spec-key {
  background: #f6faf8;
  padding: 10px;
  font-weight: 600;
  color: #0b3d2e;
}

.spec-val {
  padding: 10px;
  color: #444;
}

/* Mobile */
@media (max-width: 900px) {
  .detail-hero {
    grid-template-columns: 1fr;
  }
}
